schema/CodeTEI-v0.2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2025-06-25T19:41:31Z. .  
--><!---->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <include href="http://localhost/schema/relaxng/tei.rng"
            ns="http://www.tei-c.org/ns/1.0"/>
   <include href="http://localhost/schema/relaxng/core.rng"
            ns="http://www.tei-c.org/ns/1.0"/>
   <include href="http://localhost/schema/relaxng/header.rng"
            ns="http://www.tei-c.org/ns/1.0"/>
   <include href="http://localhost/schema/relaxng/textstructure.rng"
            ns="http://www.tei-c.org/ns/1.0"/>
   <include href="http://localhost/schema/relaxng/linking.rng"
            ns="http://www.tei-c.org/ns/1.0"/>
   <define name="block">
      <element name="block" ns="http://codetei.org/ns/code">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Container for a block of source code with explicit typing and language specification</a:documentation>
         <oneOrMore>
            <choice>
               <ref name="line"/>
               <ref name="block"/>
            </choice>
         </oneOrMore>
         <attribute name="lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Programming language identifier</a:documentation>
            <data type="string"/>
         </attribute>
         <optional>
            <attribute name="name">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Name of the code entity (function name, class name, etc.)</a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="line">
      <element name="line" ns="http://codetei.org/ns/code">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A single line of source code with line numbering</a:documentation>
         <text/>
         <optional>
            <attribute name="n">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Line number within the code block</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="note">
      <element name="note" ns="http://codetei.org/ns/meta">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Annotation or commentary on code with agent attribution and confidence scoring</a:documentation>
         <optional>
            <attribute name="agent">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Source of annotation</a:documentation>
               <choice>
                  <value>ai</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">AI-generated annotation</a:documentation>
                  <value>human</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Human-authored annotation</a:documentation>
                  <value>system</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">System-generated annotation</a:documentation>
               </choice>
            </attribute>
         </optional>
         <optional>
            <attribute name="model">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">AI model identifier for AI-generated annotations</a:documentation>
            </attribute>
         </optional>
         <optional>
            <attribute name="confidence">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Confidence score for AI annotations (0.0-1.0)</a:documentation>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <start>
      <empty/>
   </start>
</grammar>
